<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UI Elements</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <header>
      <h1>UI Elements</h1>
    </header>
    <main>
      <header>
        <h1>{{title}}</h1>
      </header>
      <section>
        {{{contents}}}
      </section>
    </main>
    <script src="http://localhost:35729/livereload.js"></script>
  </body>
</html>
